body {
  font-family: "Georgia", serif;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  display: inline;
  float: left;
  margin-left: 10%;
}

.citydiv {
  border: 1px rgb(255, 182, 193, 570);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 160px;
  margin-left: 120px;
  background-color: rgb(255, 182, 193, 0.47);
}

h1 {
  text-align: center;
}

.headDiv {
  border: 0px outset pink;
  background: lightgrey;
  text-align: center;
}

body {
  background-color: rgb(255, 182, 193);
}
